extends ../template.pug

block style
  link(rel='stylesheet' href='/css/index.css')

block script
  script(src='/js/index.js')

block main
  div(class='title')
    div(class='container')
      div(class='row')
        h1(class='col-12') Discover your path.
        h2(class='col-12') Find out how to make computing part of <br> your journey.
  
  div(class='stories section container')
    div(class='section-header')
      h1 Stories &amp; Advice
      hr
    main(class='row')
      img(class='col-lg-5 img-fluid' src='/img/temp1.svg')
      div(class='col-lg-7')
        h2 "What sealed the deal on software engineering for me was that rush you get when something finally works."
        h3 Rachel Keirouz <span>| Math-Computer Science</span>
    a(class='link-btn' href=pages[0].link) Read their stories
      
  div(class='majors section')
    div(class='host')
      h1(class='section-header') The Majors
      hr(class='header-bar')
      section
        aside(class='hidden-sm-down')
          ul
            div
              - for (let i = 0; i < Math.ceil(majorNames.length / 2); i++)
                li #{majorNames[i]}
            div
              - for (let i = Math.ceil(majorNames.length / 2); i < majorNames.length; i++)
                li #{majorNames[i]}
          a(class='link-btn hidden-md-down' href=pages[1].link) Link to all the majors
        main
          img(src='/img/temp1.svg')   
          div
            article
              h1
              each hook in majorHooks
                h2 #{hook}
            button
              i(class='fa fa-arrow-right fa-2x')
      nav(class='hidden-md-up')
        i(id='prev-major' class='fa fa-arrow-left fa-2x')
        i(id='next-major' class='fa fa-arrow-right fa-2x')
      a(class='link-btn hidden-lg-up' href=pages[1].link) Link to all the majors
        
        
  div(class='orgs section')
    div(class='host')
      h1(class='section-header') Connect
      hr(class='header-bar')
      main
        div
          p ORGANIZATION
          p ORGANIZATION
          p ORGANIZATION
        div
          p ORGANIZATION
          p ORGANIZATION
          p ORGANIZATION
        div
          p ORGANIZATION
          p ORGANIZATION
          p ORGANIZATION
      a(class='link-btn' href='/') Get involved
      
  div(class='projects section')
    div(class='host')
      h1(class='section-header') Triton Projects
      hr(class='header-bar')
      main
        a(class='prev-proj hidden-sm-down')
          i(class='fa fa-arrow-left fa-3x')
        div(id="carouselExampleControls" class="carousel slide")
          div(class="carousel-inner" role="listbox")
            - for (let i = 0; i < 10; i++)
              article 
                img(src='/img/temp1.svg')
                div
                  h1 Some Student Project
                  h2 Etiam elit elit, elementum sed varius at, adipiscing vitae est. Sed nec felis pellentesque, lacinia dui sed.
                  h3 Read more 
                    i(class='fa fa-arrow-right')
        a(class='next-proj hidden-sm-down')
          i(class='fa fa-arrow-right fa-3x')
      nav
        a(class='prev-proj hidden-md-up')
          i(class='fa fa-arrow-left fa-2x')
        ul(class='hidden-sm-down')
        a(class='next-proj hidden-md-up')
          i(class='fa fa-arrow-right fa-2x')
      footer
        p In hac habitasse platea dictumst. Vivamus adipiscing fermentum quam volutpat aliquam. Integer et elit eget elit facilisis tristique.
        a(class='link-btn' href='/projects.html') Link to projects
      
      
  div(class='resources section')
    div(class='host')
      h1(class='section-header') Start Exploring
      hr(class='header-bar')
      main
        div
          h1 Events
          p #{events}
        div
          h1 Facilities
          p #{facilities}
      a(class='link-btn' href=pages[4].link) See the resources


