html
  head
    link(
      rel="stylesheet" 
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" 
      integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" 
      crossorigin="anonymous")
    block style 
      link(
        rel='stylesheet'
        href ='/css/index.css'
      )
        
  //- rel='stylesheet'
      href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css'
      integrity='sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ'
      crossorigin='anonymous')
    block style
      link(
        rel='stylesheet'
        href='/css/index.css'
      )
  body
    
    //-ul(class = 'col-sm-12')
      li(class = 'col-sm-6')
        h3 Here is the majors page! 
      li(class = 'col-sm-6')
        h3 Here is the second column! //
    footer(class = 'container')
      ul(class = 'col-sm-12')
        div(class = 'col-sm-6')
            h3 Here is one column.
        div(class = 'col-sm-6')
            h3 Here is the second column. 
    
