extends ../template.pug

block style 
	link(rel='stylesheet' href ='/css/majors.css')

block script
	script(src='/js/majors.js')

block main
	div(class='page-header')
		svg(class='hidden-xs-down')
			rect
			circle
		h1 The Majors
	
	div(class='container page-intro')
		div(class='row')
			p(class='col-sm-10 offset-sm-1') A wide array of majors offer a unique computing experience at UCSD. These majors apply computational skills to both new and traditional subject matter, developing programming skills, fostering scientific study, and bolstering creativity.
	
	div(class='page-blurb') 
		h1 Explore these majors
	
	div(class='pos' id=majors[0].short)

	main
		div(class='container')
			div(class='row align-items-start')
				div(class='col-lg-3 major-sidebar')
					div(class='margin')
					a(class='flip-on-click' data-toggle='collapse' data-target='#major-list') Majors
						i(class='fa fa-chevron-up')
					ul(class='collapse show' id='major-list')
						div(class='row')
							each m in majors
								li(class='col-12 col-sm-6 col-md-4 col-lg-12 no-select') 
									a(href=`#${m.short}`) #{m.name}
				div(class='col-lg-9')
					- for (let i = 0; i < majors.length; i++)
						div(class='major-card')
							h1 #{majors[i].name}
							img(src=majors[i].image)
							div(class='text row no-gutters')
								div(class='col-xl-7 flex-last flex-xl-first')
									h5 DESCRIPTION
									p !{majorDescriptions[majors[i].short]}
								div(class='col-xl-4 offset-xl-1 flex-first flex-xl-last')
									div(class='row')
										div(class='col-12 col-sm-6 col-xl-12')
											h5 MAJOR CAP
											h4 #{majors[i].cap ? 'Capped' : 'Not Capped'}
										div(class='col-12 col-sm-6 col-xl-12')
											h5 DEGREE TYPE
											- if (majors[i].degree === 'bs')
												h4 Bachelor of Science
											- if (majors[i].degree === 'ba')
												h4 Bachelor of Arts
									div(class='row')
										div(class='col-12 col-sm-6 col-xl-12')
											h5 DEPARTMENTS
											ul
												each d in majors[i].departments
													li
														a(href=departments[d].link class='link') #{departments[d].name}
										div(class='col-12 col-sm-6 col-xl-12')
											h5 MORE INFORMATION
											ul
												each w in majors[i].websites
													a(href=w class='link') Major Website
								if (majorExpand[majors[i].short])
									- let ex = majorExpand[majors[i].short]
									div(class='col-12 flex-last expand')
										h5 #{ex.type}
										- for(let j = 0; j < ex.data.length; j++)
											a(class='flip-on-click header' data-toggle='collapse' href=`#ex-${i}-${j}`) #{ex.data[j].name}
												i(class='fa fa-chevron-down')
											div(id=`ex-${i}-${j}` class='collapse spec')
												p() !{ex.data[j].detail}

							//- Footnote
							- if(majors[i].note)
								div(class='footnote row no-gutters')
									div(class='asterisk bold hidden-xs-down col-1')
										h1 *
									div(class='note col-12 col-sm-11')
										p <span class="mini-asterisk hidden-sm-up">*</span> #{majors[i].note}
										
							- if(i + 1 < majors.length)
								div(class='pos' id=majors[i + 1].short)