extends ../template.pug

block style 
	link(
		rel='stylesheet'
		href ='/css/stories.css'
	)
		
block main
	div(class='page-header')
		svg(class='hidden-xs-down')
			rect
			circle
		h1 Stories &amp; Advice
	
	div(class='container page-intro')
		div(class='row')
			div(class='col-12 col-sm-10 offset-sm-1')
				p Every path through UCSD is unique, and there’s no right or wrong path. Some students have explored many different routes on their way to finding the right fit for them. These are their stories and advice.
			
	div(class='story-video')
		div(class='container')
			div(class='row')
				iframe(class='col-12 col-lg-10 offset-lg-1' width='560' height='315' src='https://www.youtube.com/embed/AQn31PZg8F8?rel=0&modestbranding=1' frameborder='0' allowfullscreen)

	div(class='main-story container')
		div(class='row') 
			h1(class='col-12 size-28 bold') Rachel Keinouz 
			h2(class='col-12 size-24 light med') Math-Computer Science  |  Class of 2017
		div(class='row')
			div(class='col-12 col-lg-6 size-20 story-story')
				p Rachel entered UC San Diego as a Nanoengineering major, but after a few classes realized that the major wasn’t right for her. Her parents insisted she try taking a computer science class, just to see if she liked it–and after an introductory Java course (CSE 8A), realized that was her true passion. Rachel switched to the Math-Computer Science major because she was also interested in theoretical math topics as well as computer science.
				p After her second year, Rachel landed her first internship. Yet while she assumed it would be her “dream internship”, the experience led her to again have doubts about her major choice. She decided to keep going, continuing to tutor in the Computer Science department and searching for other internships. Her following two internships were much more positive, and restored her passion for computing.
				p These experiences then led Rachel to her job at Microsoft in the fall following her senior year.
			p(class='offset-lg-1 col-lg-5 hidden-md-down size-24 story-quote med') “What I learned is that you don’t have to have everything figured out and there’s never really a moment that you do have everything figured out, but as long as you are focused on what you can do next... you're going to be fine.”
	
	div(class='more-stories')  
		div(class='section-header')            
			h1 More Stories
			hr
		div(class='container')
			- for(let i = 0; i < stories.length; i++)
				div(class='row')
					if (i % 2 === 0)
						div(class='hidden-md-down col-sm-3 offset-lg-1')
							img(src=stories[i].image)
					div(class='hidden-lg-up col-12' id='center-img')
						img(class='mx-auto' src=stories[i].image)
					div(class='story-content col-12 col-lg-6 offset-lg-1')
						h2(class='size-20 bold') #{stories[i].name}
						h3(class='light size-18 nor') #{stories[i].major} | Class of #{stories[i].class}
						h1(class='size-24 med') "#{stories[i].quote}"
					if (i % 2 !== 0)
						div(class='hidden-md-down col-sm-3 offset-md-1')
							img( src=stories[i].image)
 
	div(class='next-steps')
		div(class='section-header')            
			h1 Next Steps
			hr
		div(class='container')
			div(class='row')
				div(class='col-12 col-md-5 mb-4 mb-md-0')
					h2(class='bold') Start Your Journey 
					p(class='size-18') There’s no single computing path–UC San Diego offers a diverse range of computing-related majors, from art and music to engineering and science.
					a(class='size-21 bold dark' href='/') Explore the majors 
						i(class='fa fa-arrow-right')
				div(class='col-12 col-md-5 offset-md-2')
					h2(class='bold') Find Students Like You
					p(class='size-18') Computing students are pioneers and inventors. Explore the orgs where they’re pushing boundaries and making connections.
					a(class='size-21 bold dark' href='/') Explore the orgs 
						i(class='fa fa-arrow-right')
